h1 {
    text-align: center;
}

ul {
    font-size: 18px;
    font-family:Georgia, serif;
}

.first,
.dessert {
    color: white;
}

.first {
    background-color: green;
}

.dessert {
    background-color: red;
}